main{
	position: absolute;
	padding: 10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 5px;
	box-shadow: 5px 4px 5px #A5A5A5FF;
	/* background-color: rgb(44, 101, 187); */
	background-color: white;
}
img.kiri{
	float: left;
	width: 85px;
}

h1{
	text-align: center;
	font-family: sans-serif;
	margin-bottom: 0;

}

h1, nav, p {
	text-align: center;
	color:  rgb(12, 45, 95);
}

table, th, td {
    border: 1px solid;
	width: 410px;
	background-color:  rgb(12, 45, 95);
	text-align: center;
	color: black;
}
td{
	height: 40px;
	background-color: white;
}
form {
	border: 3px solid;
	width: 450px;
}
		
th {
	padding-left: 10px;
	padding-right: 10px;
	background-color:  rgb(241, 207, 12);
}

tr {
	background-color: whitesmoke;
}

input[type=number]{
	padding: 10px;
	width: 410px;
	border-style: solid;
	text-align: right;
	font-size: 20px;
}

#submit{
    width : 25%;
    background-color :whitesmoke;
	padding : 5px;
    font-size : 15px;
    cursor : pointer;
    border : 2px solid #000;
}

#submit:hover {
	border : 2px solid rgb(12, 45, 95);
}
		
